@font-face {
  font-family: 'Swords';
  src: url('/css/Swords.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
body{
  color: #616161;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  padding: 0;
  margin: 0;
}
.menu .logo{
  background-image: url('/images/logo.png');
  height: 150px;
  width: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 25px;
}
.title,
h3 {
  font-family: 'Swords';
}
a {
  font-family: 'Swords';
  text-decoration: none;
}
.menu {
  height: 150px;
  background-color: #bcbcbc; 
}
.menu .logo,
.menu .title,
.menu > a,
.menu ul {
  display: inline-block;
  font-size: 30px;
}
.menu > a {
  vertical-align: top;
  line-height: 90px;
}
.menu ul {
  float: right;
  height: 90px;
  line-height: 90px;
  padding-right: 25px;
}
