@font-face {
  font-family: 'Swords';
  src: url('/css/Swords.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
html {
  height: 100%;
}
body {
  color: #272727;
  background-color: #f3f3f3;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  padding: 0;
  margin: 0;
}
.menu .logo {
  background-image: url('/images/logo.png');
  height: 150px;
  width: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 25px;
}
a, 
a:visited {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  text-decoration: none;
  color: #272727;
}
a:hover {
  color: #ffc800;
}
.menu {
  height: 150px;
  background-color: #bcbcbc; 
}
.menu .logo,
.menu .title,
.menu > a,
.menu ul {
  vertical-align: middle;
  display: inline-block;
  font-size: 30px;
}
.menu > a {
  vertical-align: top;
  line-height: 150px;
}
.menu ul {
  float: right;
  height: 90px;
  line-height: 90px;
  padding-right: 25px;
}
.menu ul a {
  font-family: 'Swords';
}
footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  background-color: #bcbcbc;
  width: 100%;
  line-height: 30px;
  padding-left: 25px;
}
  
