/* light gray: #E5DDCF*/
/* mid gray: #8D8D91*/
/* dark gray: #333440*/
/* orange: #EC6921*/
/* yellow: #FCC761*/
/* red: #9F202E*/
/* green: #18724C*/
/* blue: #315A75*/
html {
  height: 100%;
}
body {
  display: flex;
  height: 100%;
  margin: 0;
}
.content {
  background-color: #E5DDCF;
  width: calc(100% - 60px);
}
.sidebar {
  background-color: #FCC761;
  width: 60px;
}
