body::before {
  background-size: cover;
  background-attachment: fixed;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  background-image: url('/images/askambeach.jpg');
}

body{
  color:#616161;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  padding:0;
  padding-top: 50px;
  margin:0;
}
main{
  max-width: 900px;
  margin:0 auto;
}
.menu{
  background-color:#fff;
  float:right;
  height:360px;
  width:200px;
}
.menu ul{
list-stlye:none;
}
.content{
  background-color:#fff;
  border-radius:2px;
  margin:0 auto;
  min-height:360px;
  margin-bottom:16px;
}
.content.first{
  float:left;
  width: calc(100% - 216px);
}
main .content:not(.first){
  clear:both;
}
.content a{
  text-decoration:none;
}
.content:hover{
  opacity:0.9;
}
.contentTitle{
  background-color: rgb(255,171,64);
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
  box-sizing: border-box;
  position:relative;
}
.contentTitle h3{
  margin:0;
  position:absolute;
  left:0;
  bottom:30px;
  background-color:#ffab40;
  padding:5px;
  color:#fff;
  font-weight:400;
  min-width:40%;
  text-align:left;
}
.contentDescription{
}
.contentFooter{
}
.pageImage{
  background-color: rgb(255,171,64);
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
  box-sizing: border-box;
}
footer{
  background-color:#fff;
  clear:both;
  margin-top:80px;
  padding: 40px;
}
