---
layout: jimmyclarke2021
title: Jimmy Clarke
---
<div class="menu">
	<a href="/">
		<div class="logo"></div>
		<div>Jimmy Clarke</div>
	</a>
	<ul>
		<li class="P"><a href="">Photography</a></li>
		<li class="D"><a href="">3D Printing</a></li>
		<li class="T"><a href="">Travel</a></li>
		<li class="R"><a href="">Random Stuff</a></li>
	</ul>
</div>
{% for post in site.posts %}
<div class="content {post.categoryclass}} {% if forloop.first == true %}first{% endif %}">
	<a href="{{ post.url }}" title="{{post.title}}">
		<div class="contentTitle" style="background-image:url('{{post.image}}');min-height:{{post.height}}px;">
			<h3 class="{{post.categoryclass}}">{{post.title}}</h3>
		</div>
		<div class="contentDescription">
			{{post.description}}
		</div>
		<div class="contentFooter">
			<strong>By {{post.author}}</strong><span>{{ post.date | date_to_string }}</span>
		</div>
	</a>
</div>
{% endfor %}
