---
layout: jimmyclarke2021
title: Jimmy Clarke
---
<div class="menu">
	<div class="logo"></div>
	<div class="title">Jimmy Clarke</div>
	<ul>
		<li class="P"><a href="">Home</a></li>
	</ul>
</div>
{% for post in site.posts %}
<div class="content {% if forloop.first == true %}first{% endif %}">
	<div class="contentTitle" style="background-image:url('{{post.image}}');min-height:{{post.height}}px;">
		<a href="{{ post.url }}" title="{{post.title}}">
			<h3 class="{{post.categoryclass}}">{{post.title}}</h3>
		</a>
	</div>
</div>
{% endfor %}
