---
layout: jimmyclarke2019
---
<div><a href="/"><i class="material-icons" role="presentation">arrow_back</i></a></div>

<div class="post">
	<div class="postHero" style="background-image:url('{{page.image}}');height:{{page.height}}px">
		<h3 class="postTitle {{page.categoryclass}}">{{page.title}}</h3>
	</div>
	<div class="postMeta">
		<div class="postCategory {{page.categoryclass}}">{{page.categoryclass}}</div>
		<span>{{page.category}}</span>
		<span>{{ page.date | date_to_string }}</span>
		<div class="postShare"><i class="material-icons">share</i></div>
	</div>
	<div class="postContent">
		{{content}}
	</div>
	<div class="postFooter">
		{% for tag in page.tags %}
			<span>{{tag}}</span>
		{% endfor %}
	</div>
</div>
