---
layout: jimmyclarke2019
---
<div><a href="/"><i class="material-icons" role="presentation">arrow_back</i></a></div>

<div class="post">
	<div class="postHero" style="background-image:url('{{page.image}}');height:{{page.height}}px">
		<h3 class="postTitle {{page.category}}">{{page.title}}</h3>
	</div>
	<div class="postMeta">
		<span class="postCategory {{page.categoryclass}}">{{page.categoryclass}}</span>
		<span class="postCategory {{page.category}}">{{page.category}}</span>
		<strong>{{page.author}}</strong>
		<span>{{ page.date | date_to_string }}</span>
		<i class="material-icons">share</i>
	</div>
	<div class="postContent">
		{{content}}
	</div>
	<div class="postFooter">
		{% for tag in page.tags %}
			<span>{{tag}}</span>
		{% endfor %}
	</div>
</div>
